.div-col
    display: flex
    flex-direction: column

.div-row
    display: flex
    flex-direction: row
    justify-content: flex-start
    gap: 5px 5px

.div-date
    width: 20%

.div-time
    width: 10%

.div-week
    display: flex
    flex-direction: row
    justify-content: flex-start
    gap: 5px 5px

@media (max-width: 739px)
    .div-date
        width: 35%

    .div-time
        width: 25%

    .div-week
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 5px 5px
