<mat-card>
    <mat-card-title>Form Pesquisa</mat-card-title>
    <mat-card-actions>
        <button mat-icon-button color="warn">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>

        <button mat-icon-button disabled>
          <mat-icon>menu</mat-icon>
        </button>
    </mat-card-actions>
    
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
