<mat-card class="scrollable-content">
    <mat-card-title>
      <span>Cadastro</span>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    </mat-card-title>
    
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent" (click)="edit()" *ngIf="!btEditDisable">
          Editar
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="primary" (click)="save()" *ngIf="!formValid">
          Salvar
          <mat-icon>done</mat-icon>
        </button>
        <button mat-button color="warn" (click)="edit()" *ngIf="!btDeleteDisable">
          Excluir
          <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
